/*  ======================================
    General
    ====================================== */

body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #1d4698;
    font-size: 20px;
    line-height: 28px;
    color: #323b40;
    overflow-x: hidden;
    margin: 0;
    transition: all linear 10s;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bubblegum Sans', cursive;
    margin: 1rem 0
}

h1 {
    width: 60%;
    max-width: 960px;
    margin: 0 auto 30px;
    transform: rotate(-3deg);
    color: white;
    text-align: left;
    font-size: 5rem;
    line-height: 5rem;
    text-shadow:  0 1px 0 hsl(52,7%,20%),
    0 2px 0 hsl(52,7%,18%),
    0 3px 0 hsl(52,7%,16%),
    0 4px 0 hsl(52,7%,14%),
    0 5px 0 hsl(52,7%,12%),
    0 6px 0 hsl(52,7%,10%),
    0 7px 0 hsl(52,7%,8%),
    0 8px 0 hsl(52,7%,6%),

    0 0 5px rgba(0,0,0,.05),
    0 1px 3px rgba(0,0,0,.2),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.2),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.3);
}

.section {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(-90deg, white, #1d4698);
    z-index: -5;

    /*position: relative;*/
    min-height: 400px;
    padding: 25px 30px 5px 60px;
}

.separator {
    height: 45px;
    background: #323a45;
}

.info {
    background: #6cb9e9 !important;
    min-height: 250px;
    padding: 25px 0;
}

.headline {
    /*float: right;*/
    margin: 4% 8% 0;
    font-size: 5rem;
    /*font-size: 75px;*/
    line-height: 1.1em;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #444444;
    font-family: "Montserrat", sans-serif;
    max-width: 40%;
    z-index: 1;
}

.headline small{
    font-size: 5rem;
    text-transform: capitalize;
}
.bottom {
    /*float: left;*/

    margin: 2% 0 0;
    font-size: 2rem;
    line-height: 1em;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #444444;
    font-family: "Montserrat", sans-serif;
    max-width: 100%;
    z-index: 1;
}


/*  ======================================
    header
    ====================================== */
.header{
    height: 45px;
    width: 100%;
}

.header header {
    height: 45px;
    width: 100%;

    padding: 1% 5% 1% 10%;
    font-size: 1rem;

    position: fixed;
    top: 0;
    z-index: 99;

    display: flex;
    flex-direction: row;
    align-items: center;

    background: rgba(5, 5, 5, 0.8);
    border: solid 1px rgba(5, 5, 5, 1);
    box-shadow: 0 0 1px 0 rgba(5, 5, 5, 0.3);
    box-sizing: border-box;
}

.header header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header header li {
    display: inline-block;
    margin: 0 2% 0 0;
}

.header header nav {
    flex: 1;
    margin-right: 2%;
}

.header a:link,
.header a:visited {
    position: relative;
    top: 0;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.0rem;
    padding: 6px 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: border-bottom linear 0.5s;
}

.header a:hover {
    color: #3949AB;
    border-bottom: solid 2px #3949AB;
}


/*  ======================================
    Footer
    ====================================== */

.footer {
    height: 10%;
    width: 100%;
    background: #323a45;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    border: none;

}
.footer ul li {
    display: inline-block;
}

.panel-contact {
    text-align: center;
}

ul.panel-contact li {
    min-width: 300px;
    font-size: 1.4rem;
    color: #aaaaaa;
}

.panel-contact img {
    float: left;
    filter: invert(0.8);
}
.panel-contact h5 {
    float: left;
    margin: 12px 0 0 3%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.footer h4 {
    color: #1d4698;
    font-size: 2.4rem;
    text-align: center;
}

/*  ======================================
    Home
    ====================================== */

.summary img {
    position: absolute;
    right: -15%;
    opacity: 0.7;
    /*float: right;*/
    /*margin-right: -10%;*/
    /*margin-right: -130px;*/
    /*z-index: -1;*/
}

.summary h2 {
    font-size: 75px;
    line-height: 1em;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #444444;
    font-family: "Montserrat", sans-serif;
    max-width: 40%;
}

.summary p {
    font-size: 1.3rem;
    font-style: normal;
    padding: 25px 0 15px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    max-width: 70%;
}

.arrow {
    position: relative;
    display: inline-block;
    padding: 0 40px;
    margin: 10px 0 5%;
    line-height: 60px;
    border: solid 2px #e24a2d;
    background-color: #ff5333;
    border-radius: 35px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow:after {
    position: absolute;
    top: 50%;
    right: 0.6em;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: "»";
    opacity: 0;
    transition: all 0.3s ease;
}

.arrow:hover {
    border: solid 2px #c94128;
    padding: 0 60px 0 20px;
}

.arrow:hover:after {
    right: 1.2em;
    opacity: 1;
}


/*  ======================================
    Experience
    ====================================== */

.experience .section {
    background: linear-gradient(to bottom, #fdfeff 0%, #6cb9e9 100%);
}

.experience li {
    display: inline-block;
    float: left;
    padding-left: 3%;
    width: 28%;
    z-index: 2;
}

.experience li:first-child {
    padding-left: 0;
}

.developer img {
    /*position: absolute;*/
    float: right;
    /*top: 50px;*/
    /*right: 0;*/
    margin-right: 2%;
    opacity: 0.8;
}

.army img {
    /*position: absolute;*/
    /*top: 850px;*/
    float: right;
    margin-right: 10%;
    /*margin-right: 150px;*/

    /*right: 150px;*/
    opacity: 0.7;
}

h4.experience.blue  {
    color: #6cb9e9;
}


/*  ======================================
    Education
    ====================================== */

.education .section {
    background: linear-gradient(to bottom, #fdfeff -50%, #6cb9e9 100%);
    min-height: 200px;
}

.more-info {
    padding-bottom: 50px;
}

h4.education.blue  {
    color: #6cb9e9;
}

.university img {
    /*position: absolute;*/
    /*top: 120px;*/
    /*right: 50px;*/
    float: right;
    opacity: 0.8;
    margin-right: 10%;
    /*margin-right: 100px;*/
    margin-top: 50px;
}

.school img {
    /*position: absolute;*/
    /*top: 850px;*/
    /*right: 50px;*/
    float: right;
    opacity: 0.8;
    /*margin-right: 100px;*/
    margin-right: 10%;
    margin-top: 50px;
}


/*  ======================================
    Proficiency
    ====================================== */

.proficiency .section {
    background: linear-gradient(to bottom, #fdfeff 0%, #6cb9e9 100%);
    min-height: 200px;
}

.proficiency .section:not(.programming) {
    background: linear-gradient(to bottom, #fdfeff -100%, #6cb9e9 100%);
}

h4.proficiency.blue  {
    color: #6cb9e9;
}






/*
.more-info {
    position: fixed;
    !*top: 50%;*!
    !*left: 50%;*!
    background: rgba(245, 245, 245, 0.3);
    border-radius: 10px;

    !*background: #f1f8fa;*!


    pointer-events: none;
    opacity: 0;
    transition: all ease-out 2s;

}

input[type="checkbox"]:checked ~ .more-info {
    opacity: 1;
    position: relative;
}

*/

/* ============================================
   SIMPLE MEDIA QUERIES FOR RESPONSIVE LAYOUTS
   ============================================ */

@media screen and ( max-width : 1000px ) {
    img:not(.footer-img) {
        height: 25%;
        width: 25%;
        /*margin-right: 50px;*/
    }

    img.home-img {
        position: absolute;
        /*z-index: 0;*/
        width: 100%;
        height: 100%;
        float: none;
        opacity: 0.5;
        filter: sepia(1);
    }

    .header,
    body {
        width: 100%;
    }

    .separator{
        height: 10px;
    }
    .header,
    .header header {
        height: 100px;

    }

    .headline {
        font-size: 3rem;
        width: 100%;
        /*margin-top: 4%;*/
        margin: 4% 0 0;
    }

    .section {
        width: 100%;
        min-height: 50px;
        padding-left: 5%;
    }

    .info {
        width: 100%;
    }

    .experience li{
        /*list-style: none;*/
        display: block;
        float: none;
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem !important;
    }

    p {
        width: 90%;
    }
}


@media screen and ( max-width : 568px ) {
    img:not(.footer-img) {
        display: none;
    }
}
